name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: Download dependencies
        run: go mod download
      - name: Install CLI tools
        run: make install-cli-tools
      - name: Start containers
        run: docker compose up -d
      - name: Test
        run: make test
